* {
    box-sizing: border-box;
  }
  
  svg:not(:root) {
    overflow: visible;
  }
  
  body {
    background: #bfb199;
    font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  }
  
  .app {
    margin: auto;
    max-width: 30em;
    min-width: 10em;
    width: 80%;
  }
  
  .update {
    background: #ecdfc8;
    border-radius: 0.5em;
    color: #444444;
    margin: 2em 0;
    padding: 1em;
    position: relative;
  }
  .update::after {
    clear: both;
    content: "";
    display: table;
  }
  
  .update-avatar, .update-user, .update-content {
    float: left;
  }
  
  .update-avatar {
    border: 0.2em solid #564a36;
    border-radius: 0.5em;
    margin-right: 0.5em;
  }
  
  .update-user {
    margin: 0 0 .25em;
  }
  
  .update-content {
    font-weight: 400;
    margin: 0;
    max-width: 22em;
  }
  
  .heart-status {
    bottom: 1em;
    clear: both;
    color: #093c4f;
    position: absolute;
    right: 0;
    width: 4em;
  }
  .heart-status::after {
    clear: both;
    content: "";
    display: table;
  }
  
  .heart, .hearts {
    float: left;
  }
  
  .heart {
    max-width: 1.3em;
    overflow: visible;
  }
  .heart.liked .heart-path {
    fill-opacity: 1;
  }
  
  .heart-path {
    fill: #093c4f;
    fill-opacity: 0;
    stroke: #093c4f;
    stroke-width: 0.2em;
    -webkit-transition: fill 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: fill 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .heartsCount {
    bottom: 0;
    font-size: 0.8em;
    margin-left: 0.25em;
    position: absolute;
  }
  
  [data-animate=heartbeat] {
    -webkit-animation: heartbeat 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            animation: heartbeat 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  @-webkit-keyframes heartbeat {
    55% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    70% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    85% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes heartbeat {
    55% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    70% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    85% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }