<section>
    <h3 class="h3 text-center mb-5">추천받은 의상 보여주기</h3>
    <div class="row wow fadeIn">
      <div class="col-lg-6 col-md-12 px-4">
        <form action="/ai/classification/tag" method="post">
          <div class="form-group">
            <label for="formGroupExampleInput">이미지 url을 넣어주세용</label>
            <input type="text" name="img_url" class="form-control" placeholder="DB 저장형식대로.">
          </div>

          <button type="submit" class="btn btn-primary btn-md pull-right">추천하기</button>
        </form>
      </div>

      <div>내가 집어넣은 옷
        <img src={{input_url}}>
      </div>
      
      <div class="col-lg-6 col-md-12">
        {% if best_tags %}
          {% for tag in best_tags %}
          <h5 class="text-center mt-3">추천받은 태그: {{ tag }}</h5>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>